*{
    margin: 0;
    padding: 0;
}
body{
    font-size:.28em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background: #f0efed;
}
/* header开始 */
header{
    width: 6.4rem;
    height: 1rem;
    background: #FFD000;
    display: flex;
}
.header-position{
    width: 1.8rem;
    height: 1rem;
}
.header-position span{
    display: block;
    font-family: PingFangSC-Medium;
    font-size: 0.28rem;
    color: #222222;
    line-height: 1rem;
    text-align: center;
    margin: 0 auto;
}
.header-find{
    box-sizing: border-box;
    width: 3.64rem;
    height: 0.64rem;
    line-height: 0.64rem;
    margin-top: 0.2rem;
    border-radius: 0.15rem;
    opacity: 0.9;
    color: #999;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 0.35rem;
    background:#FFFFFF url(images/99c29829cf1b85d5cdbc76a1bd0b7329814.png) 0 0.18rem no-repeat;
    background-size: 0.28rem 0.28rem;
}
.header-icon{
    text-align: center;
    width: 0.94rem;
    height: 100%;
}
.header-icon img{
    width: 0.6rem;
    height: 0.6rem;
    margin-top: 0.2rem;
}  
/* header结束 */

/* nav开始 */
.nav{
    display: flex;
    /* width: 6.4rem; */
    height: 1.04rem;
    box-sizing: border-box;
    padding: 0.16rem;
    background: #000000;
}
.nav-img img{
    width: 0.72rem;
    height: 0.72rem;
    margin-right: 0.2rem;
}
.nav-txt{
    color: #fff;
    font-size: 0.24rem;
    flex: 1;
}
.nav-go{
    text-decoration: none;
    width: 1.1rem;
    height: 0.6rem;
    background: #FFD000;
    border-radius: 0.1rem;
    text-align: center;
    line-height: 0.6rem;
    margin-top: 0.05rem;
}
/* nav结束 */

/* list开始 */
.list{
    display: flex;
    flex-wrap: wrap; 
    list-style: none;
    border-bottom: 1px solid #DDDBCE;
    background: #FFFFFF;
}
.list li{
    width: 20%;
    height: 1.62rem;
    padding: 0.2rem 0;
    box-sizing: border-box;
}
.list span{
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 0.4rem;
    margin: 0 auto;
    line-height: 0.8rem;
    text-align: center;
    font-size: 0.55rem;
    color: #FFFFFF;
}
.list p{
    text-align: center;
    font-size: .24rem;
    color: #666;
    margin-top: 0.1rem;
}
.list-food span{
    background: #fd9d21;
}
.list-movie span{
    background: #ff6767;
}
.list-hotel span{
    background: #8a90fa;
}
.list-relax span{
    background: #fed030;
}
.list-out span{
    background: #fd9d21;
}
.list-ktv span{
    background: #fed030;
}
.list-travel span{
    background: #4dc6ee;
}
.list-beauty span{
    background: #ff80c2;
}
.list-snack span{
    background: #fd9d21;
}
.list-all span{
    background: #00d3be;
}
/* list结束 */

/* like开始 */


/* like结束 */

