*{
    margin: 0;
    padding: 0;
}
h2{
    width: 960px;
    height: 100px;
    background: #cccccc;
    margin: 50px auto 0;
    text-align: center;
    line-height: 100px;
}
.container{
    width: 960px;
    height: 540px;
    margin: 0 auto;
    background: url(img/01.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}
/* .img-big{
    width: 100%;
}
.img-960,.img-480{
    display: none;
} */
.text{
    width: 960px;
    margin: 50px auto 0;
    overflow: hidden;
}
.text-left{
    width: 630px;
    height: 200px;
    background: pink;
    float: left;
}
.text-right{
    width: 300px;
    height: 200px;
    background: #008c8c;
    float: right;
}
@media screen and (max-width: 960px){
    h2{
        width: 100%;
    }
    .container{
        width: 100%;
        background-image: url(img/01_s_2x.jpg);
        padding-top: 56%;
        height: 0;
        /* background-size:100% 100%; */
    }
    /* .img-960{
        width: 100%;
        display: block;
    }
    .img-big,.img-480{
        display: none;
    } */
    .text{
        width: 100%;
    }
    .text-left{
        width: 65.6%;
    }
    .text-right{
        width: 31.25%;
    }
 
}@media screen and (max-width: 480px){
    .header{
        width: 100%;
    }
    .container{
        background-image: url(img/01_s.jpg);
        /* background-size:100% 100%; */
    }
    /* .img-480{
        width: 100%;
        display: block;
    }
    .img-big,.img-960{
        display: none;
    } */
    .text{
        width: 100%;
    }
    .text-left{
        width: 100%;
    }
    .text-right{
        width: 100%;
    }
 
}